*.o
regex_tests.cc
scanner_tests.cc
parser_tests.cc
scanner_tests
parser_tests
regex_tests
ast_tests
ast_tests.cc
codegeneration_tests
codegeneration_tests.cc
temp.cc
/html
/latex
*.dslup1
*.dslup2
*.dslup3
a.out
samples/forest_loss_v2.cc
samples/my_code_1.cc
samples/my_code_2.cc
samples/sample_1.cc
samples/sample_2.cc
samples/sample_3.cc
samples/sample_7.cc
samples/sample_8.cc
samples/forest_loss_v2
samples/my_code_1
samples/my_code_2
samples/sample_1
samples/sample_2
samples/sample_3
samples/sample_7
samples/sample_8
samples/forest_loss_v2.output
samples/my_code_1.output
samples/my_code_2.output
samples/sample_1.output
samples/sample_2.output
samples/sample_3.output
samples/sample_7.output
samples/sample_8.output
samples/forest_loss_v2.diff
samples/my_code_1.diff
samples/my_code_2.diff
samples/sample_1.diff
samples/sample_2.diff
samples/sample_3.diff
samples/sample_7.diff
samples/sample_8.diff
